[user]
	name = jonzuk-real
	email = jonzuk@protonmail.com
[credential "https://github.com"]
	helper = 
	helper = !/nix/store/1131yfwz32j7ad860qy9ksvbiid2hv0k-gh-2.89.0/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/nix/store/1131yfwz32j7ad860qy9ksvbiid2hv0k-gh-2.89.0/bin/gh auth git-credential
